*{
    margin: 0;
    padding: 0;
    color: #404040;
    font-size: 14px;
}

.logo{
    width: 100px;
    height: 100px;
}

.bgNavegacion{
    background-color: #FCF6DA;
}

.separador{
    border-bottom: 1px dashed #CCCCCC;
}

.boton{
    border: 1px solid #ff0000;
    border-radius: 4px;
    color: black;
    text-decoration: none;
    padding: 10px 15px 10px 15px;
    box-shadow: gray 2px 2px 2px 0px;
    transition: 0.5s;
}

.boton:hover{
    color: red;
    transform: scale(1.2);
}

.imgIndex{
    border-radius: 15px;
    object-fit: cover;
    width: 500px;
    box-shadow: 1px 5px #404040;
}


.linkStyle{
    font-size: 20px;
    text-decoration: none;
    color: black;
}

imgTiendaIndex{
    border-radius: 15px;
    object-fit: cover;
    width: 500px;
    box-shadow: 1px 5px #404040;
}