.imgIndex {
    border-radius: 8px;
    object-fit: cover;
    width: 500px;
}

.imgTienda{
    border-radius: 8px;
    object-fit: cover;
}

.contenedor {
    background-image: url(../assets/image/index/tour-bg.png);
    width: 100%;
    text-align: end;
}

.corazonAnim{
    animation: beat 0.9s infinite;
    width: 240px;
}

