$font-size:14px;
$font-size-sm:16px;
$color-texto:#404040;
$color-principal:#FCF6DA;
$color-utilidades-bordes:#ea272e;
$color-utilidades-icon:#F0676C;
$color-links:black;
$color-footer:#b3b3b3;
$color-sombras:#841418;
$color-separador:#CCCCCC;
$color-footer:#b3b3b3;
$t-pantalla-sm:400px;
$t-100por:100%;
$t-200px:200px;
$t-100px:100px;
$t-50px:50px;
$t-20px:20px;
$t-15px:15px;
$t-10px:10px;
$t-5px:5px;


